* {
    margin: ;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
    justify-content: space-evenly;
    padding: 40px;
    align-items: center;
}

.item1 {
    box-shadow: 1px 1px 1px 1px #888888;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    gap: 5px;
}

.item2 {
    flex-wrap: wrap;
    background-color: violet;
    overflow: hidden;
    width: 100%;
}

.item3 {
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5px;
    height: 500px;
    overflow: hidden;
}

.box3 {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    justify-content: space-around;
    padding: 40px;
    align-items: center
}

.box4 {
    margin-top: 5px;
    overflow: hidden;
}

.amg1 {
    width: 846px;
    height: auto;
}

.amg2 {
    width: height: auto;
}