* {
    margin: ;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px 20px;
}

.box1 {
    display: flex;
    background-color: pink;
    justify-content: space-evenly;
    padding: 40px;
    align-items: center;
}

.item1 {
    box-shadow: 1px 1px 1px 1px #888888;
}

.box2 {
    display: flex;
    margin-top: 5px;
}

.item2 {
    padding: 5px;
}

.box3 {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
}

.box4 {
    margin-top: 5px;
}